<h1>Thêm lớp</h1>

<form action="/add" method="POST">
  NAME: <input name="tenLop" type="text" name="name" />
  <br />
  NUMBER STUDENT: <input name="soLuong" type="text" name="name" />
  <br />
  CLASSCODE: <input name="maLopHoc" type="text" name="name" />
  <br />
  INSTRUCTOR CODE: <input name="maGiangVien" type="text" name="name" />
  <button type="submit">Thêm lớp</button>
</form>
